@import "../../global.scss";

.kanbanContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.kanbanColumn {
  flex: 0 0 auto;
  color: $textColor;
  background-color: $backgroundColor;
  width: 280px !important;
  min-height: 500px !important;
  max-height: calc(100vh - 200px);
  margin: 30px;
  border-radius: 5px;
  border-top: 5px solid $buttonColor;
  box-shadow: 0px 0px 10px #d2d7e0;
  overflow-x: hidden;
  overflow-y: auto;

  p {
    padding: 0.5em;
  }
}
